<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Shop hoa tươi FlowerCorner: Đặt Hoa Online Giao Miễn Phí Chỉ Từ 300K
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/images/static/css/style.css" />
</head>

<body>
  <header>
    <div class="menu-main">
      <div class="contact-numbers">HOTLINE: 1900 633 045 | 0865 160 360</div>
      <div class="nav-items">
      	<a href="/user/profile" class="customeText">
            <i class="fa-solid fa-user" style="color: #4f4f4f"></i>Tài khoản
        </a>
        <a href="/cart" class="customeText">
            <i class="fa-solid fa-cart-shopping" style="color: #4f4f4f"></i>Giỏ hàng
        </a>
        <a href="/login" class="customeText">
        	<i class="fa-solid fa-right-to-bracket" style="color: #4f4f4f"></i>Đăng nhập
        </a>
      </div>
    </div>
  </header>

  <div class="header-container">
    <div class="social-media">
      <a href="">
        <i class="fa-brands fa-facebook fa-2xl" style="color: #3b5998"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-twitter fa-2xl" style="color: #38a1f3"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-instagram fa-2xl" style="color: #cd486b"></i>
      </a>
    </div>

    <div class="logo-shop">
      <a href="/homepage">
        <img src="https://www.flowercorner.vn/image/catalog/common/shop-hoa-tuoi-flowercorner-logo.png.webp"
          title="FlowerCorner.vn - Shop hoa tươi" alt="FlowerCorner.vn - Shop hoa tươi" class="img-fluid" width="300"
          height="62" />
      </a>
    </div>

    <div class="purchase-bar">
      <div class="search-bar">
        <input type="text" placeholder="Tìm kiếm" class="text-control" />
        <button type="button" class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <div class="buy-bar">
        <div class="buy-icon">
          <button type="button" class="btn btn-inverse btn-block" onclick="window.location.href='/cart'">
		  <i class="fa-solid fa-bag-shopping"></i>
		</button>
          <span id="cart-count" class="mini-cart-count" th:text="${totalCartItem}"></span>
        </div>
        <div id="cart-dropdown">
          <div id="cart-items"></div>
          <div id="cart-total"></div>
          <div class="cart-actions">
            <a href="/shopping-cart" class="">
              <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
            </a>
            <span class="line-cart">|</span>
            <a href="/shopping-cart" class="">
              <i class="fa-solid fa-share"></i> Thanh toán
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-menu">
    <nav class="nav-menu">
      <ul class="nav-links">
        <li class="dropdown">
            <a th:href="@{/homepage}" class="drop">TẤT CẢ</a>
        </li>
        
      	<th:block th:each="item : ${categories}">
      		<li class="dropdown">
	          <a th:href="@{/homepage(categoryId=${item.id})}" class="drop" th:text="${item.name}"></a>
	        </li>
      	</th:block>
      </ul>
    </nav>
	</div>

    <div class="header-notice">
      ĐẶT HOA ONLINE - GIAO MIỄN PHÍ TP HCM & HÀ NỘI - GỌI NGAY 1900 633 045
      HOẶC 0865 160 360
    </div>

    <table id="cart-table" class="table">
	    <thead>
	        <tr>
	            <th>Hình ảnh</th>
	            <th>Tên sản phẩm</th>
	            <th>Số lượng</th>
	            <th style="text-align: right">Đơn giá</th>
	            <th style="text-align: right">Tổng cộng</th>
	            <th>Xóa</th>
	        </tr>
	    </thead>
	    <tbody>
	        <th:block th:each="item : ${items}">
	            <tr>
	                <td style="vertical-align: middle;">
	                    <img th:src="${'/images/' + item.product.images[0].imageName}" alt="Endless Love" style="width: 70px;">
	                </td>
	                <td style="vertical-align: middle;" th:text="${item.product.name}"></td>
	                <td style="vertical-align: middle;">
				        <div class="d-flex justify-content-center align-items-center">
				            <!-- Form giảm số lượng -->
				            <form action="/update-cart-item" method="post" style="display:inline;">
				                <input type="hidden" name="cartItemId" th:value="${item.id}" />
				                <input type="hidden" name="quantity" th:value="${item.quantity - 1}" />
				                <button type="submit" class="btn btn-outline-secondary btn-sm" 
				                    th:disabled="${item.quantity <= 1}">-</button>
				            </form>
				            
				            <input type="text" class="form-control text-center mx-2" style="width: 50px;" 
				                th:value="${item.quantity}" readonly>
				            
				            <!-- Form tăng số lượng -->
				            <form action="/update-cart-item" method="post" style="display:inline;">
				                <input type="hidden" name="cartItemId" th:value="${item.id}" />
				                <input type="hidden" name="quantity" th:value="${item.quantity + 1}" />
				                <button type="submit" class="btn btn-outline-secondary btn-sm">+</button>
				            </form>
				        </div>
				    </td>
	                <td style="text-align: right; vertical-align: middle;" th:text="${item.product.price}"></td>
	                <td style="text-align: right; vertical-align: middle;" th:text="${item.product.price * item.quantity}"></td>
	                <td style="vertical-align: middle; text-align: center;">
	                    <form action="/delete-cart-item" method="post" style="display: inline;">
	                        <input type="hidden" name="cartItemId" th:value="${item.id}" />
	                        <button type="submit" class="btn btn-danger btn-sm">X</button>
	                    </form>
	                </td>
	            </tr>
	        </th:block>
	    </tbody>
	    <tfoot>
	        <tr>
	            <td colspan="4" style="text-align: right"><strong>Tổng phụ</strong></td>
	            <td id="sub-total"><span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}"></span></td>
	        </tr>
	        <tr>
	            <td colspan="4" style="text-align: right"><strong>Tổng cộng</strong></td>
	            <td id="total"><span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}"></span></td>
	        </tr>
	        <tr>
	            <td colspan="5" style="text-align: right">
	                <a href="/user/checkout" class="btn btn-primary float-end">Thanh toán</a>
	            </td>
	        </tr>
	    </tfoot>
	</table>
    
    
    
    <footer>
      <div class="row">
        <div class="info-download">
          <img
            src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/shop-hoa-tuoi-flowercorner-logo.png.webp"
            alt=""
          />
          Hotline: 1900 633 045 - 0865 160 360 Email: sales@flowercorner.vn
          <div class="download-app">
            <div class="qr-code">
              <img
                src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/qr.png.webp"
                alt="quét để tải app FlowerCorner"
              />
            </div>
            <div class="store-link">
              Tải ứng dụng ngay!
              <div class="store-img">
                <img
                  src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/appstore.png.webp"
                  alt="FlowerCorner trên app store"
                />
                <img
                  src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/gplay.png.webp"
                  alt="FlowerCorner trên Google play"
                />
              </div>
            </div>
          </div>
          <div class="notice-bct">
            <img
              src="https://8384f55340.vws.vegacdn.vn/image/catalog/common/app/logoSaleNoti.png.webp"
              alt=""
            />
          </div>
        </div>

        <div class="info-support">
        <h5>CHĂM SÓC KHÁCH HÀNG</h5>
        <p class="danhmuc">
          <a href="/introduce" class="color-grey">Giới thiệu</a>
        </p>
        <p class="danhmuc">
          <a href="/contact" class="color-grey">Liên Hệ</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Chính Sách Vận Chuyển</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Câu Hỏi Thường Gặp</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Hình Thức Thanh Toán</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Bảo Mật Thông Tin</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Chính Sách Hoàn Tiền</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Xử Lý Khiếu Nại</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Tại Sao Nên Chọn FlowerCorner.vn</a>
        </p>
        <p class="danhmuc">
          <a href="#" class="color-grey">Blog</a>
        </p>
      </div>

        <div class="info-media">
          <h5>THEO DÕI</h5>
          <div class="mxh">
            <p>
              <a href="#" class="color-grey">
                <i class="fa-brands fa-facebook"></i>
                Facebook</a
              >
            </p>
            <p>
              <a href="#" class="color-grey">
                <i class="fa-brands fa-twitter-square"></i>
                Twitter</a
              >
            </p>
            <p>
              <a href="#" class="color-grey">
                <i class="fa-brands fa-instagram"></i>
                Instagram</a
              >
            </p>
            <p>
              <a href="#" class="color-grey">
                <i class="fa-brands fa-linkedin"></i>
                Linkedin</a
              >
            </p>
            <p>
              <a href="#" class="color-grey">
                <i class="fa-brands fa-youtube"></i>
                Youtube</a
              >
            </p>
          </div>
        </div>

        <div class="info-address">
          <h5>SHOP HOA FLOWERCORNER</h5>
          <div class="address">
            <p>
              <strong>Cửa hàng chính</strong>:
              <a href="#" class="color-grey"
                >142 Nguyễn Văn Cừ, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM</a
              >
            </p>
            <p>
              <strong>Chi nhánh TP.HCM</strong>:
              <a href="#" class="color-grey"
                >225/3 Nguyễn Đình Chiểu, Phường 5, Quận 3, TP.HCM</a
              >
            </p>
            <p>
              <strong>Chi nhánh Hà Nội</strong>:
              <a href="#" class="color-grey">65 Trần Phú, Ba Đình, Hà Nội</a>
            </p>
            <p>
              CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ ZAS
              <br />
              Mã số thuế: 0313630426
            </p>
          </div>
        </div>

        <div class="contact-bar">
          <div class="contact-numberphone">
            <i class="fa-solid fa-phone-volume" style="color: #ffffff"></i>
            <span>091 849 1941</span>
          </div>

          <div class="line"></div>

          <div class="contact-zalo">
            <img src="img/icons8-zalo-50 (1).png" alt="" />
            <span>Nhắn tin zalo</span>
          </div>

          <div class="line"></div>

          <div class="contact-numberphone">
            <i class="fa-solid fa-phone-volume" style="color: #ffffff"></i>
            <span>086 516 0360</span>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/nav-menu-fixed.js"></script>
    <script src="js/cart-drop-down.js"></script>
    <script src="js/cart-info.js"></script>
  </body>
</html>
